# Data
data/**/
!**/src/main/**/data/
!**/src/test/**/data/

# Dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Maven Build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
**/logs
*.log
*.log*

# Local env files
.env
.env.*
!.env.example

# VCS
**/.git
**/.svn
**/.hg

# IDE
.idea
.fleet
*.iws
*.iml
*.ipr

# Misc
.DS_Store
**/.history
*.xml.versionsBackup
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
